<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>Default Page</title>
  <meta name="description" content="Default Description" />
  <meta name="author" content="Default Author" />

  <link rel="stylesheet" href="" />
</head>

<body>
    <header>
        <div id="logo">HTML</div>
        <nav>
            <ul>
                <li><a href="/">Home</a>
                <li><a href="/link">Page</a>
            </ul>
        </nav>
    </header>
    <main role="main">
        <h1>Title</h1>
        <article>
            <h2>Title 1</h2>
            <p>Content 1</p>
        </article>
        <article>
            <h2>Title 2</h2>
            <p>Content 2</p>
        </article>
    </main>
    <!--section>
        A group of related content
    </section>
    <aside>
        Sidebar
    </aside-->
    <footer>
        <p>&copy; </p>
        <address>
            Contact <a href="">me</a>
        </address>
    </footer>
</body>
</html>
